body {
	background: url("background.png") repeat;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
	color: #DCD0C0;
}

header{
	font-family: 'Gloria Hallelujah', cursive;
	background-color: rgba(0, 0, 0, .25);
	text-align: center;
	color: #b2f0f7;
	font-size: 4rem;
}

section {
	padding-top: 15px;
	padding-bottom: 15px;
}

.profile-pic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	width: 250px;
}

a:link {
	text-decoration: none;
	border-bottom: 1px dashed gray;
    color: #e7de57;
}

a:visited {
	color: #e7de57;
	border-bottom: 1px dashed gray;
}

/* tablets and desktop */
@media only screen and (min-width: 768px) {
	.container {
		width: 500px;
		padding: 8px;
		margin: auto;
	}
}
/* phones */
@media only screen and (max-width: 767px) {
	.container {
		width: 94%;
		padding-left: 3%;
		padding-right: 3%;
	}
}
