body {
	background: url("background.png") repeat;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
	margin: 0px;
}

header{
	font-family: 'Gloria Hallelujah', cursive;
	background-color: rgba(0, 0, 0, .25);
	text-align: center;
	color: #b2f0f7;
	font-size: 4rem;
}

.information {
	padding-top: 15px;
	padding-bottom: 15px;
	color: #DCD0C0;
}

.links {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.profile-pic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	width: 250px;
}

a {
	text-decoration: none;
}

.social-icon {
	width: 32px;
}

/* tablets and desktop */
@media only screen and (min-width: 768px) {
	.container {
		width: 500px;
		padding: 8px;
		margin: auto;
	}
}
/* phones */
@media only screen and (max-width: 767px) {
	.container {
		width: 94%;
		padding-top: 8px;
		padding-left: 3%;
		padding-right: 3%;
	}
}
